.room {
  &__page {
    padding-bottom: 60px;
  }
  &-cover__head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &-cover__title {
    margin-right: 11px;
    font-size: 35px;
    font-weight: 600;
  }
  &-cover__type {
    color: rgb(134, 118, 226);
    font-weight: 700;
    font-size: 20px;
  }
  &-cover__type-text {
    color: #000000;
  }
  &-cover__rate-name {
    margin-bottom: 5px;
    font-weight: 500;
  }
  &-cover__rate {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #32ba43;
    border-radius: 6px;
  }
  &-cover__rate-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-cover__rate-text {
    color: #090;
  }
  &-cover__title-wrapper {
    display: flex;
    align-items: center;
  }
  &-info__properties {
    display: flex;
    flex-direction: column;
    // margin-top: 50px;
    font-weight: 700;
  }
  &-info__properties-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &-info__properties-name {
    margin-left: 7px;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px dotted #b686c5;
  }
  &-info__properties-block  {
    padding: 40px;
    border: 4px solid #b686c5;
    border-radius: 10px;
  }
  &-info__container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  &-info__booking {
    margin-top: 20px;
    padding: 100px;
    box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);

  }
  &-info__booking-name {
    margin-bottom: 40px;
    text-align: center;
    color: #1976d2;
    font-size: 25px;
  }
  &-info__reasons-name {
    margin-bottom: 20px;
    font-weight: 600;
  }
}
.love-icon {
  &:hover {
    cursor: pointer;
  }
}