.room {
  &__page {
    padding-bottom: 60px;
  }
  &-cover {
    padding-bottom: 70px;
  }
  &-cover__head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &-cover__title {
    margin-left: 11px;
    font-size: 35px;
    font-weight: 600;
  }
  &-cover__type {
    color: rgb(134, 118, 226);
    font-weight: 700;
    font-size: 20px;
  }
  &-cover__type-text {
    color: #000000;
  }
  &-cover__rate-name {
    margin-bottom: 5px;
    font-weight: 500;
  }
  &-cover__swiper-image {
    width: 100%;
    height: 530px;
  }
  &-cover__rate {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #32ba43;
    border-radius: 6px;
  }
  &-cover__rate-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-cover__rate-text {
    color: #090;
  }
  &-cover__title-wrapper {
    display: flex;
    align-items: center;
  }
  &-reasons {
    padding-bottom: 80px;
  }
  &-section-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
  }
  &-comfort {
    padding-bottom: 80px;
  }
  &-comfort__title {
    margin-bottom: 30px;
  }
  &-comfort__list {
    display: flex;
    justify-content: space-between;
  } 
  &-comfort__item {
    max-width: 40%;
    padding-right: 40px;
    &:not(:last-child) {
      border-right: 1px solid #e0e0e0;
    }
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
  &-comfort__description {
    width: 300px;
    font-size: 16px;
  }
  &-booking__container  {
    padding-bottom: 70px;
  }
  &-booking__title {
    margin-bottom: 30px;
  }
  &-booking__booking-block {
    padding: 50px;
    box-shadow: 2px 2px 8px 3px rgba(34, 60, 80, 0.2);
    border-radius: 6px;
  }
  &-reviews__form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-reviews__statistics-title {
    margin-bottom: 20px;
  }
}
.love-icon {
  &:hover {
    cursor: pointer;
  }
}