.filter-panel {
  &__name {
    margin-bottom: 12px;
  }
  &__checkbox-block {
    display: flex;
    flex-direction: column;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}