.room-reviews {
  &__item {
    padding: 30px;
    overflow: hidden;
    background-color: rgb(245, 244, 255);
    border-radius: 20px;
  }
  &__user {
    margin-bottom: 15px;
  }
  &__description {
    display: block;
    width: 100%;
    word-wrap: break-word;
  }
}