.header {
  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: rgb(247, 247, 247);
      cursor: pointer;
    }
  }
  &__admin-image {
    border: 1px solid yellow;
  }
  &__profile-image {
    padding: 7px;
    max-width: 50px;
    width: 45px;
    background-color: #ebe8e8;
    border-radius: 50%;
  }
  &__toggle-arrow {
    width: 25px;
  }
}