.room-card-loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
}

.room-card-loading__first-section {
  display: flex;
  align-items: center;
}

.room-card-loading__img {
  margin-right: 30px;
}

.room-card-loading__second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(94, 86, 109);
}