@import "../../../../styles/mixins/response-mixin.scss";

$content-margin: 15px;

.rooms {
  &__page {
    display: flex;
    justify-content: space-between;
    @include tablets{
      display: block;
    }
    padding-top: 25px;
    padding-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  &__filters {
    display: flex;
    justify-content: space-between; 
    @include tablets{
      display: block;
    }
  }
  &__select-block {
    display: flex;

    justify-content: center;
    width: 40%;
    @include tablets{
      margin-top: 20px;
      width: 100%;
    }
  }
}

.filter-panel {
  padding: 20px;
}