$content-margin: 15px;

.rooms {
  &__page {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
}