.header {
  &__profile {
    display: flex;
    align-items: center;
  }
  &__profile-name {
    margin-right: 8px;
    font-weight: 600;
  }
  &__profile-crown {
    width: 30px;
    margin-right: 16px;
  }
  &__profile-image {
    padding: 10px;
    max-width: 60px;
    width: 50px;
    background-color: #ebe8e8;
    border-radius: 50%;
    transition: background-color 0.7s linear;
    &:hover {
      background-color: #cccaca;
      cursor: pointer;
    }
  }
  &__profile-admin {
    color: rgb(92, 126, 238);
  }
}