@import "../../../../styles/mixins/response-mixin.scss";

.booking {
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2)
    ;
    @include tablets {
      width: 100%;
      padding: 10px;
      margin-bottom: 17px;
    }
    @include phones {
      flex-direction: column;
    }
  }
  &__qr {
    @include tablets {
      width: 100px;
    }
    @include phones {
      margin-bottom: 17px;
    }
   }
  &__text-block {
    margin-left: 25px;
    margin-right: 25px;
    @include tablets {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  &__text-list {
    margin-bottom: 17px;
  }
  &__text-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    @include phones {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    font-size: 16px;
    @include tablets {
      font-size: 12px;
    }
  }
  &__id {
   @include phones {
    text-align: center;
   }
    width: 190px;
    font-size: 14px;
  }
  &__buttons-block {
    display: flex;
    flex-direction: column;
  }
  &__date-title {
    font-weight: 600;
    color: rgb(134, 118, 226);
  }
  &__date-text {
    font-size: 16px;
    @include tablets {
      font-size: 12px;
    }
  }
  &__buttons-block {
    margin-top: 12px;
  }
}