.admin {
  &__booking-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__booking-item {
    margin-bottom: 20px;
  }
  &__error-message {
    display: flex;
    justify-content: center;
  }
}