.admin {
  &__booking-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    flex-wrap: wrap;
  }
  &__booking-item {
    margin-bottom: 20px;
  }
  &__error-message {
    display: flex;
    justify-content: center;
  }
}