.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  &__user-image {
    margin-right: 75px;
    width: 350px;
  }
  &__user-name {
    margin-bottom: 14px;
    font-size: 30px;
  }
  &__description {
    font-size: 20px;
  }
}