@import "../../../../../styles/mixins/response-mixin.scss";

.feedback {
  &__form {
    justify-content: space-between;
    align-items: center;
    @include tablets {
      width: 100%;
      flex-direction: column;
    }
    flex-grow: 1;
    flex-basis: 200px;
  }
}

.css-qfemdq-MuiFormControl-root, .css-1fxrlk4 {
  @include tablets {
    width: 100% !important;
  }
}

.css-11uq3rk-MuiButtonBase-root-MuiButton-root {
  @include tablets {
    width: 100% !important;
  }
}