@import "../../../../../styles/mixins/response-mixin.scss";

.feedback {
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets {
      width: 100%;
      flex-direction: column;
    }
  }
}