@import "../../../../../styles/constants.scss";
@import "../../../../../styles/mixins/response-mixin.scss";

.room-reasons {
  &__list {
    display: flex;
    justify-content: space-between;
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__card-image {
    margin-right: 15px;
    padding: 7px;
    width: 40px;
    background-color: $options-color;
    border-radius: 5px;
  }
  &__card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include tablets {
      margin-bottom: 10px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  &__card-title{
    font-size: 20px;
  }
}