@import "../../../../styles/mixins/response-mixin.scss";

.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 50px;
    height: 250px;
    @include phones {
      flex-direction: column;
    }
  }
  &__description {
    font-size: 15px;
    @include phones {
      margin-bottom: 15px;
      font-size: 12px;
    }
  }
}