@import "../../../../../styles/mixins/response-mixin.scss";
@import "../../../../../styles/constants.scss";

.room {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;

  @include tablets{
    flex-direction: column;
    align-items: center;
    padding: 23px;
  }

  border-radius: 3px;
  box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
  transition: 0.2s box-shadow linear;
  &:hover {
    box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
  }
  &__main-content_wrapper {
    display: flex;
    @include tablets{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__main-content_text-wrapper {
    padding-top: $content-margin;
  }
  &__description {
    width: 400px;
    @include tablets{
      display: none;
    }
  }
  &__more-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: $content-margin;
    margin-right: 20px;
    @include tablets{
      align-items: center;
      margin: 0;
    }
  }
  &__name {
    margin-bottom: 15px;
    color: #666666;
    @include tablets{
      text-align: center;
    }
  }
  &__description {
    color: #666666;
  }
  &__price {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666666;
    @include tablets{
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
    }
    span {
      font-size: 30px;
      font-weight: 600;
      color: $options-color;
    }
  }
  &__image {
    width: 100%;    
    height: 250px;
  }
  &__swiper-slider {
    margin-right: 30px;
    max-width: 20vw;
    @include tablets{
      max-width: 80vw;
      margin: 0;
    }
  } 
}