.admin {
  &__ticket-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__ticket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}