.room-info__comfort {
  &-list {
    margin-bottom: 25px;
    width: 490px;
    -webkit-column-count: 2;
    column-count: 2;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &-name {
    font-size: 18px;
    font-weight: 600;
  }
  &-icon {
    margin-right: 15px;
    width: 40px;
  }
  &-smoke_icon {
    width: 50px;
  }
}