@import "../../../../../styles/mixins/response-mixin.scss";

.room-info__comfort {
  &-block {
    max-width: 360px;
  }
  &-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  } 
  &-icon {
    margin-right: 12px;
    width: 30px;
  }
  &-name {
    margin-right: 70px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 22px;
    @include tablets {
      font-size: 25px;
      margin-right: 0;
    }
  }
  &-list {
    display: flex;
    margin-right: 100px;
    max-height: 180px;
    flex-direction: column; 
    flex-wrap: wrap;
    @include tablets {
      max-height: 100%;
    }
  }
}
