@import "../../../../../styles/mixins/response-mixin.scss";

.room-info__comfort {
  &-list {
    margin-bottom: 25px;
    width: 490px;
    -webkit-column-count: 2;
    column-count: 2;
    @include tablets {
      -webkit-column-count: 0;
      column-count: 0;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &-name {
    font-size: 18px;
    font-weight: 600;
  }
  &-icon {
    margin-right: 15px;
    width: 40px;
  }
  &-smoke_icon {
    width: 50px;
  }
}