.booking {
  &__card {
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-size: 100% 300%;
    border-radius: 8px;
  }
  &__properties-text {
    font-size: 9px;
  }
  &__room-property_icon {
    margin-right: 20px;
    width: 21px;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__properties-list {
    -webkit-column-count: 2;
    column-count: 2;
  }
  &__properties {
    margin-left: 30px;
  }
  &__properties-item {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
  &__room-property {
    display: flex;
    align-items: center;
  }
  &__room-property_name {
    font-weight: 600;
    font-size: 15px;
  }
  &__properties-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__control {
    height: 100%;
  }
  &__control-text {
    font-weight: 500;
    font-size: 19px;
  }
  &__control-date_text {
    color: rgb(134, 118, 226);
    font-weight: 700;
    font-size: 21px;
  }
}