$caption-size-text: 40px;
$options-color: rgb(134, 118, 226);
$main-color: rgb(126, 160, 255);
$sections-margin: 80px;
$default-grey: #eeeeee;
$text-color: rgb(58, 57, 57);
$grey-text-color: #666666;
