@import "../../../../../scss/constants.scss";
@import "../../../../../scss/response-mixins.scss";

.filter-panel {
    &__block {
        padding: 20px;
        width: 250px;
    }
    &__list {
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__item {
        margin-bottom: 17px;
    }
    &__filter-title {
        margin-bottom: 3px;
        color: $main-color;
        &:first-child {
            margin-bottom: 19px;
        }
    }
}

.css-ahj2mt-MuiTypography-root {
    color: $grey-text-color;
}
