@import "../../../../styles/mixins/response-mixin.scss";

.error {
  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
      flex-direction: column;
    }
    min-height: calc(87vh - 160px);
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 33px;
    text-transform: uppercase;
    color: rgb(99, 140, 253);
    @include phones {
      font-size: 26px;
    }
  }
  &__list {
    margin-bottom: 30px;
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
    @include tablets {
      align-items: center;
      margin-right: 0;
    }
  }
  &__error-image {
    width: 320px;
    @include phones {
      width: 220px;
    }
  }
}