@import "../../../../styles/mixins/response-mixin.scss";

.booking {
  &__page {
    margin-top: 25px;
    min-height: calc(88vh - 200px);
    padding-bottom: 100px;
  }
  &__list {
    display: flex;
    // justify-content: space-between;
    column-gap: 10%;
    flex-wrap: wrap;
    @include phones {
      flex-direction: column;
    }
  }
  &__error-message {
    @include phones {
      font-size: 14px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  &__item {
    margin-bottom: 20px;
  }
}