@import "../../../../../styles/mixins/response-mixin.scss";

.admin {
  &__booking-date {
    margin-top: 20px;
    color: rgb(126, 160, 255);
    @include tablets {
      font-size: 18px;
      text-align: center;
    }
    @include phones {
      text-align: center;
      font-size: 14px;
    }
  }
  &__date-fields {
    display: flex;
  }
}