@import "../../../../styles/mixins/response-mixin.scss";

.signin__page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-image: url("../../../../assets/images/mainbackground.jpg");
  background-size: cover;
  @include phones {
    background-image: none;
  }
}